<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite thread-count="4" parallel="classes" name="Suite">

  <test  name="Test">
    <classes>
      <class name="Day8_Parallel_classes.AddEducation_Test"/>
      <class name="Day8_Parallel_classes.TC_Login2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
