<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


  <test thread-count="5" name="Test">
    <classes>
      <class name="DAY_21Date_and_Timepiker.date_and_time"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
